
.footer{
    display: flex;
    padding: 50px 50px;
   
}
.card a{
    text-decoration: none;
    font-size: 14px;
    color: #aaa;
    padding: 10px;
}
.card h5{
    color: #fff;
    font-size: 16px;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card{
    border: none;
    
}
/* @media(max-width:1380px){
    .footer{
        padding: 50px 10px;
    }
}
@media(max-width:1180px){
    .footer{
        padding: 50px 5px;
    }
} */
.logoDiv{
    position: relative;
    right: 10px;
}

.cards{
    background-color: #222 !important;
}
@media(max-width:1455px) and (min-width:920px)  {
    .footer{
        padding:10px;
    }
    .cards{
        width: 25%;
    }
}
.card-img-top{
margin: 20px !important;
  
}